
html {
	background-image: url(../Image/imageback5.gif);
	background-size: cover;
}

.lyrics {
	position: relative;
	top: 40px;
	left: 500px;
	width: 500px;
	border: 2px solid darkred;
	text-align: center;
	background-color: #C8F4FF;
}

h1{
	position: relative;
	top: 30px;
	left: 720px;
	border: 2px solid darkblue;
	width: 70px;
	text-align: center;
	background-color: skyblue;
}

a {
	text-decoration: none;
}

h1:hover {
	background-color: lightgrey;
}

.pw{
	font-size: 25px;
}